.LaptopPicture {
  border: 2px solid red;
  border-radius: 60%;
  width: 300px;
  height: 300px;
  box-shadow: 11px 11px 26px 4px rgba(140, 50, 50, 0.81);
}
.intro {
  text-align: center;
}
.heading {
  font-family: cursive;
  font-size: 60px;
}
.span-red {
  color: brown;
}
.span-green {
  color: blue;
}
.intro p {
  font-size: 20px;
  line-height: 2;
  margin: 40px;
}
.review,
.review1,
.review2,
.review3,
.review4 {
  background-color: rgb(219, 215, 215);
  border: 1px solid rgb(219, 215, 215);
  border-radius: 10px;
  padding: 20px;
  margin: 40px;
}
.review-section img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.review-heading {
  margin: 40px;
}
.footer p {
  font-weight: bold;
  text-align: center;
}
